<!DOCTYPE html>
<html>
<head>
    <title>Login - TemuGram</title>
    <link rel="stylesheet" href="{{ url_for('templates', filename='estilos.css') }}">
</head>
<body>
    <div class="card">
        <h1>📸 TemuGram</h1>
        <form method="POST">
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Entrar</button>
        </form>
        <p>¿No tienes cuenta? <a href="/registro">Regístrate</a></p>
    </div>
</body>
</html>